@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100%;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  opacity: 0.8;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #369c7e;
  color: white;
  cursor: pointer;
  padding: 6px;
  border-radius: 20px;
}
header {
  width: 100%;
  height: 100vh;
  padding-top: 1em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}
.top-bar {
  width: 100%;
  height: 10%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}
.top-bar .logo-menu {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-menu span {
  color: rgb(26, 30, 103);
  font-weight: bold;
}

.logo {
  width: 100px;
  margin-left: 2em;
}
.lang-menu {
  display: flex;
  position: relative;
}
.lang-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 90px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #369c7e;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
}

.lang-dropdown a {
  width: 100%;
  padding: 5px 0;
}
.lang-dropdown a:hover {
  background-color: #369c7e;
  color: #fff;
}
.lang-menu .selected {
  padding: 5px 10px;
}
.lang-menu:hover .lang-dropdown {
  display: flex;
}
.nav-links {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.uil-bars {
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
  color: #369c7e;
  font-size: 35px;
  cursor: pointer;
}
.uil-multiply {
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
  color: #369c7e;
  font-size: 35px;
  cursor: pointer;
}
.uil-phone {
  font-size: 25px;
  padding-right: 0.3em;
}
.links a {
  margin-left: 1em;
  font-weight: 600;
  color: rgb(26, 30, 103);
}
.borderd {
  border: 2px solid #369c7e;
  border-radius: 20px;
  padding: 3px 1em;
}
a {
  text-decoration: none;
}

/******************** bottom Bar**********************/

.bottom-bar {
  width: 100%;
  height: 8%;
  background-color: #369c7e;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bottom-bar a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: large;
}
/*********************Bottom bar end**************/
.header-body {
  width: 100%;
  height: 60%;
  padding-bottom: 5em;
  background-color: #effaff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-body h1 {
  color: rgb(26, 30, 103);
  font-weight: 600;
  padding-top: 2em;
  padding-bottom: 1em;
}
.header-body form {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header-body select {
  width: 40%;
  height: 3em;
  border: 1px solid #369c7e;
  border-radius: 20px;
  background-color: #fff;
  margin-left: 1em;
  margin-bottom: 1em;
  padding-left: 8px;
}

.header-body button {
  width: 15%;
  height: 3em;
  border: 1px solid #369c7e;
  border-radius: 20px;
  background-color: #369c7e;
  color: #fff;
  font-weight: 600;
  margin-left: 1em;
}
.menu-mobile {
  display: none;
  margin-left: 0 !important;
}
.header-body #ville {
  width: 30%;
}
/*********************Header body end**************/
/*********************Header responsive part**********************/
@media screen and (max-width: 975px) {
  .nav-links {
    position: absolute;
    background-color: rgba(218, 219, 235, 0.87);
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -200%;
  }
  .nav-links .menu-mobile {
    margin-left: 0 !important;
  }
  .links {
    margin-top: 20px;
  }
  .uil-bars {
    display: block;
  }
  .uil-multiply {
    display: block;
  }
  .menu-toggle {
    font-size: 10px;
  }
  .logo-menu {
    flex-direction: row-reverse;
    margin-right: 5em;
  }
  .menu-toggle .uil-phone {
    font-size: 20px;
  }
  .header-body h1 {
    padding-left: 2em;
    font-size: 1.5em;
  }
  .header-body form {
    display: flex;
    flex-direction: column !important;
  }
  .header-body #travaux {
    width: 80%;
  }

  .header-body #ville {
    width: 60%;
  }
  .header-body button {
    width: 25%;
  }
}
/*************************Jobs Section start*********/
.jobs {
  width: 100%;
  height: 120vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.jobs h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
  position: relative;
}
.jobs h1:before {
  content: " ";
  display: block;
  height: 3px;
  width: 10%;
  position: absolute;
  top: 50%;
  left: 30%;
  background-color: #369c7e;
  border-radius: 10px;
}
.jobs h1:after {
  content: " ";
  display: block;
  height: 3px;
  width: 10%;
  position: absolute;
  top: 50%;
  right: 30%;
  background-color: #369c7e;
  border-radius: 10px;
}
.jobs a {
  margin: auto;
  text-align: center;
  width: 10%;
  height: 2.5em;
  padding-top: 10px;
  border-radius: 20px;
  background-color: #369c7e;
  color: #fff;
  font-weight: 600;
  margin-top: 2.5em;
  cursor: pointer;
}
.jobs .container {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.jobs .container .job-row {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 10px;
}
.jobs .container .job-row .job {
  width: 25%;
  margin: 2px 2px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  position: relative;
}
.jobs .container .job-row .job img:hover {
  transform: translateY(-20px);
  transition: 1.5s;
}
.jobs .container .job-row .job img {
  width: 80%;
  height: 80%;
  border-radius: 100%;
}
.jobs .container .job-row .job span {
  position: absolute;
  font-weight: 600;
  font-size: larger;
  bottom: 0;
  left: 50%;
  transform: translate(-65%, 60%);
  margin-top: 0;
}
@media screen and (max-width: 980px) {
  .jobs .container {
    flex-direction: row;
    justify-content: center;
  }
  .jobs .container .job-row {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0;
  }
  .jobs .container .job-row .job {
    width: 100%;
    margin-bottom: 3em;
  }
  .jobs .container .job-row .job span {
    padding-top: 2em;
    margin-top: 1em;
    font-size: large;
  }
  .jobs h1:after {
    margin-bottom: 0em;
  }
  .jobs a {
    width: 30%;
    margin-top: 0em;
  }
  .jobs h1:before {
    left: 8%;
  }
  .jobs h1:after {
    right: 8%;
  }
  .jobs .container .job-row .job img {
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
  }
}
/*******************Cites Start***************************/
.villes {
  width: 100%;
  height: 100vh;
  background-color: #f6fdff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}
.villes .container {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.villes .container .bigcity {
  width: 35%;
  height: 80%;
  border-radius: 20px;
  position: relative;
}
.villes .container .bigcity img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.villes .container .bigcity span {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 8px;
  background-color: #1a1e67;
  border-radius: 0px 0px 0px 20px;
  color: #fff;
  margin-bottom: 15px;
}

.villes .container .cites {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.villes .container .cites .cites-group {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}
.villes .container .cites .cites-group .city {
  width: 100%;
  height: 100%;
  padding: 8px 8px;
  position: relative;
}
.villes .container .cites .cites-group .city img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.villes .container .cites .cites-group .city span {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 8px;
  background-color: #1a1e67;
  border-radius: 0px 0px 0px 20px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 1.5em;
  margin-right: 0.6em;
}
@media screen and (max-width: 800px) {
  .villes {
    height: 150vh;
  }
  .villes .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .villes .container .bigcity {
    width: 100%;
    height: 40%;
    margin: 0 20px;
  }
  .villes .container .cites {
    width: 100%;
  }
  .villes .container .cites .cites-group {
    padding: 0px 0px;
  }
}
/*********************Cites End*************************/

/*********************Testimontels Start**********************/
.testimontals {
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  margin-top: 1em;
  margin-bottom: auto;
}

.testimontals .Title {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
.testimontals .Title span {
  width: 14%;
  border: 3px solid #369c7e;
  border-radius: 10px;
  margin-top: 5px;
}

.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  justify-content: center;
}
.child {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
  height: 100%;
}
.testimontal {
  border: 1px solid #369c7e;
  padding: 30px;
  height: 100%;
  border-radius: 20px;
  position: relative;
}
.testimontal img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.testimontal .name {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.testimontal .bar {
  position: absolute;
  margin-bottom: 20px;
  width: 60px;
  border: 2px solid #369c7e;
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%);
  /* margin-left: 7.6em;
  margin-bottom: 4px; */
}
.testimontal .stars {
  margin-top: 1em;
  color: #f0ed51;
}
.testimontal p {
  font-size: 14px;
}
@media screen and (max-width: 967px) {
  .child {
    flex: 100%;
    max-width: 80%;
  }
  .third {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .child {
    flex: 100%;
    max-width: 100%;
  }
}
/***************************************/

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}

.hero .banner {
  width: 100%;
  height: 80%;
  background-color: #effaff;
  display: flex;
  align-items: center;
  padding: 0em 3em;
}
.hero-content-left {
  width: 50%;
  padding: 2em 2em;
  margin-right: 1em;
}

.hero-content-left h2 {
  color: #369c7e;
  font-weight: bold;
}
.hero-content-left p {
  font-size: 1.5em;
}

.hero-content {
  text-align: center;
  width: 50%;
  padding: 1em 2em;
  border-left: 4px solid #1a1e67;
}
.hero-content h2 {
  margin-bottom: 1em;
}

.hero-content .content {
  display: flex;
  width: 65%;
  justify-content: center;
  align-items: baseline;
  background-color: #fff;
  padding: 1.3em 1em;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 0.5em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.hero-content .content h4 {
  margin: auto;
  font-size: 15px;
  font-weight: bold;
  color: #1a1e67;
}
.hero-content .content p {
  font-size: 11px;
  font-weight: bold;
}
@media screen and (max-width: 967px) {
  .hero {
    height: 100vh;
  }
  .banner {
    flex-direction: column;
  }
  .hero-content-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .hero-content-left h2 {
    font-size: 14px;
    padding-top: 3em;
    margin-right: 1em;
  }
  .hero-content-left p {
    font-size: 12px;
    /* margin-right: 10em; */
  }
  .hero-content {
    width: 100%;
    border-left: none;
    flex-direction: row;
    border-top: 4px solid #1a1e67;
  }
  /* .content-group .content {
    width: 33%;
  } */
  .hero-content .content {
    width: 100%;
    height: 30%;
  }
}

/*************************Footer Start*************************/
.footer {
  width: 100%;
  height: 70vh;
  color: #fff;
  background-color: #1a1e67;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0em;
}
.footer .footer-content {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer ul {
  list-style: none;
}
.footer li {
  margin-bottom: 1em;
}
.footer a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
}
.contact i {
  font-size: 1.5em;
  color: #369c7e;
}
.footer .newsletter h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding-left: 10px;
  padding-bottom: 0.5em;
}
.footer .newsletter input {
  padding: 1em 3em;
  border: none;
  border-radius: 20px;
  width: 100%;
}
.newsletter {
  position: relative;
}
.footer .newsletter button {
  position: absolute;
  padding: 0.84em 1em;
  background-color: #369c7e;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  left: 80%;
}
.footer .icons a {
  margin-right: 0.5em;
  font-size: xx-large;
}
.footer .icons {
  margin-top: 2em;
}
.credit {
  width: 60%;
  position: relative;
  text-align: center;
}
.credit:before {
  content: " ";
  display: block;
  height: 1px;
  width: 50%;
  position: absolute;
  top: 50%;
  left: -16%;
  background: #fff;
}
.credit:after {
  content: " ";
  display: block;
  height: 1px;
  width: 50%;
  position: absolute;
  top: 50%;
  right: -16%;
  background: #fff;
}
@media screen and (max-width: 967px) {
  .footer .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
  }
  .credit:before {
    height: 0;
  }
  .credit:after {
    height: 0;
  }
  .footer .icons {
    text-align: center;
    margin-top: 0.5em;
  }
  .footer .newsletter h3 {
    text-align: center;
    padding-top: 1em;
  }
  .footer .icons a {
    margin-right: 0em;
    font-size: 20px;
  }
  .footer li {
    margin-bottom: 0;
    text-align: center;
  }
}
