@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Roboto", sans-serif;
}
body {
  width: 100%;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  opacity: 0.8;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #369c7e;
  color: white;
  cursor: pointer;
  padding: 6px;
  border-radius: 20px;
}
header {
  width: 100%;
  height: 23vh;
  padding-top: 0em;
  display: flex;
  flex-direction: column;
}

.top-bar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 2em;
}
.top-bar .logo-menu {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-menu span {
  color: rgb(26, 30, 103);
  font-weight: bold;
  font-size: 15px;
}

.logo {
  width: 200px;
  margin-left: 1em;
  margin-top: 0.5em;
}
.lang-menu {
  display: flex;
  position: relative;
}
.lang-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 90px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #369c7e;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
}

.lang-dropdown a {
  width: 100%;
  padding: 5px 0;
}
.lang-dropdown a:hover {
  background-color: #369c7e;
  color: #fff;
}
.lang-menu .selected {
  padding: 5px 10px;
}
.lang-menu:hover .lang-dropdown {
  display: flex;
}
.nav-links {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.uil-bars {
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
  color: #369c7e;
  font-size: 35px;
  cursor: pointer;
}
.uil-multiply {
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
  color: #369c7e;
  font-size: 35px;
  cursor: pointer;
}
.uil-phone {
  font-size: 25px;
  padding-right: 0.3em;
}
.links a {
  margin-left: 1em;
  font-weight: 600;
  color: rgb(26, 30, 103);
}
.borderd {
  border: 2px solid #369c7e;
  border-radius: 20px;
  padding: 3px 1em;
}
a {
  text-decoration: none;
}

/******************** bottom Bar**********************/

.bottom-bar {
  width: 100%;
  height: 50px;
  background-color: #369c7e;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bottom-bar a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: large;
}
/*********************Bottom bar end**************/
.header-body {
  width: 100%;
  height: 60%;
  padding-bottom: 5em;
  background-color: #effaff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-body h1 {
  color: rgb(26, 30, 103);
  font-weight: 600;
  padding-top: 2em;
  padding-bottom: 1em;
}
.header-body form {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header-body select {
  width: 40%;
  height: 3em;
  border: 1px solid #369c7e;
  border-radius: 20px;
  background-color: #fff;
  margin-left: 1em;
  margin-bottom: 1em;
  padding-left: 8px;
}

.header-body button {
  width: 15%;
  height: 3em;
  border: 1px solid #369c7e;
  border-radius: 20px;
  background-color: #369c7e;
  color: #fff;
  font-weight: 600;
  margin-left: 1em;
  cursor: pointer;
}
.header-body button:hover {
  background-color: #11ae7f;
}
.menu-mobile {
  display: none;
  margin-left: 0 !important;
}
.header-body #ville {
  width: 30%;
}
/*********************Header body end**************/
/*********************Header responsive part**********************/
@media screen and (max-width: 975px) {
  .nav-links {
    position: absolute;
    background-color: rgba(218, 219, 235, 0.87);
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -200%;
  }
  .top-bar {
    padding-top: -10px;
  }
  .logo {
    width: 150px;
    padding-top: 0.5em;
  }
  .nav-links .menu-mobile {
    margin-left: 0 !important;
  }
  .links {
    margin-top: 20px;
  }
  .uil-bars {
    display: block;
  }
  .uil-multiply {
    display: block;
  }
  .menu-toggle span {
    font-size: 12px;
    padding-left: 2.5em;
  }
  .logo-menu {
    flex-direction: row-reverse;
    margin-right: 5em;
  }
  .menu-toggle {
    display: flex;
  }
  .menu-toggle .uil-phone {
    margin-top: 5px;
    font-size: 18px;
  }
  .header-body h1 {
    padding-left: 2em;
    font-size: 1.5em;
  }
  .header-body form {
    display: flex;
    flex-direction: column !important;
  }
  .header-body #travaux {
    width: 80%;
  }

  .header-body #ville {
    width: 60%;
  }
  .header-body button {
    width: 25%;
  }
}
/*************************Jobs Section start*********/
.jobs {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.jobs h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
  position: relative;
}
.jobs h1:before {
  content: " ";
  display: block;
  height: 3px;
  width: 10%;
  position: absolute;
  top: 50%;
  left: 30%;
  background-color: #369c7e;
  border-radius: 10px;
}
.jobs h1:after {
  content: " ";
  display: block;
  height: 3px;
  width: 10%;
  position: absolute;
  top: 50%;
  right: 30%;
  background-color: #369c7e;
  border-radius: 10px;
}
.jobs a {
  margin: auto;

  width: 10%;
  height: 2em;
  padding-top: 10px;
  border-radius: 20px;
  background-color: #369c7e;
  color: #fff;
  font-weight: 600;
  margin-top: 2.5em;
  cursor: pointer;
  vertical-align: center;
  text-align: center;
}
.jobs a:hover {
  background-color: #11ae7f;
}
.jobs .container {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.jobs .container .job-row {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 10px;
}
.jobs .container .job-row .job {
  width: 25%;
  margin: 2px 2px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  position: relative;
}
.jobs .container .job-row .job img:hover {
  transform: translateY(-20px);
  transition: 1.5s;
}
.jobs .container .job-row .job img {
  width: 80%;
  height: 80%;
  border-radius: 100%;
}
.jobs .container .job-row .job span {
  position: absolute;
  font-weight: 600;
  font-size: larger;
  bottom: 0;
  left: 50%;
  transform: translate(-70%, 5%);
  margin-top: 0;
}
@media screen and (max-width: 980px) {
  .jobs .container {
    flex-direction: row;
    justify-content: center;
  }
  .jobs .container .job-row {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0;
  }
  .jobs .container .job-row .job {
    width: 100%;
    margin-bottom: 3em;
  }
  .jobs .container .job-row .job span {
    padding-top: 2em;
    margin-top: 1em;
    font-size: 15px;
  }
  .jobs h1:after {
    margin-bottom: 0em;
  }
  .jobs a {
    width: 30%;
    margin-top: 0em;
  }
  .jobs h1:before {
    left: 8%;
  }
  .jobs h1:after {
    right: 8%;
  }
  .jobs .container .job-row .job img {
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
  }
}
/*******************Cites Start***************************/
.villes {
  width: 100%;
  height: 100vh;
  background-color: #f6fdff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}
.villes .container {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.villes .container .bigcity {
  width: 35%;
  height: 80%;
  border-radius: 20px;
  position: relative;
}
.villes .container .bigcity img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.villes .container .bigcity span {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 8px;
  background-color: #1a1e67;
  border-radius: 0px 0px 0px 20px;
  color: #fff;
  margin-bottom: 15px;
}

.villes .container .cites {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.villes .container .cites .cites-group {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  margin-bottom: 9px;
}
.villes .container .cites .cites-group .city {
  width: 100%;
  height: 100%;
  padding: 8px 8px;
  position: relative;
}
.villes .container .cites .cites-group .city img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.villes .container .cites .cites-group .city span {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 8px;
  background-color: #1a1e67;
  border-radius: 0px 0px 0px 20px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 1.5em;
  margin-right: 0.6em;
}
@media screen and (max-width: 800px) {
  .villes {
    height: 150vh;
  }
  .villes .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .villes .container .bigcity {
    width: 100%;
    height: 40%;
    margin: 0 20px;
  }
  .villes .container .cites {
    width: 100%;
  }
  .villes .container .cites .cites-group {
    padding: 0px 0px;
  }
}
/*********************Cites End*************************/

/*********************Testimontels Start**********************/
.testimontals {
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  margin-top: 1em;
  margin-bottom: auto;
}

.testimontals .Title {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
.testimontals .Title span {
  width: 14%;
  border: 3px solid #369c7e;
  border-radius: 10px;
  margin-top: 5px;
}

.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  justify-content: center;
}
.child {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
  height: 100%;
}
.testimontal {
  border: 1px solid #369c7e;
  padding: 30px;
  height: 100%;
  border-radius: 20px;
  position: relative;
}
.testimontal img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.testimontal .name {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.testimontal .bar {
  position: absolute;
  margin-bottom: 20px;
  width: 60px;
  border: 2px solid #369c7e;
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%);
  /* margin-left: 7.6em;
  margin-bottom: 4px; */
}
.testimontal .stars {
  margin-top: 1em;
  color: #f0ed51;
}
.testimontal p {
  font-size: 14px;
}
@media screen and (max-width: 967px) {
  .testimontals {
    height: 120vh;
  }
  .child {
    flex: 100%;
    max-width: 80%;
  }
  .third {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .child {
    flex: 100%;
    max-width: 100%;
  }
}
/***************************************/

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}

.hero .banner {
  width: 100%;
  height: 80%;
  background-color: #effaff;
  display: flex;
  align-items: center;
  padding: 0em 3em;
}
.hero-content-left {
  width: 50%;
  padding: 2em 2em;
  margin-right: 1em;
}

.hero-content-left h2 {
  color: #369c7e;
  font-weight: bold;
}
.hero-content-left p {
  font-size: 1.5em;
}

.hero-content {
  text-align: center;
  width: 50%;
  padding: 1em 2em;
  border-left: 4px solid #1a1e67;
}
.hero-content h2 {
  margin-bottom: 1em;
}

.hero-content .content {
  display: flex;
  width: 65%;
  justify-content: center;
  align-items: baseline;
  background-color: #fff;
  padding: 1.3em 1em;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 0.5em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.hero-content .content h4 {
  margin: auto;
  font-size: 15px;
  font-weight: bold;
  color: #1a1e67;
}
.hero-content .content p {
  font-size: 11px;
  font-weight: bold;
}
@media screen and (max-width: 967px) {
  .hero {
    height: 200vh;
  }
  .banner {
    flex-direction: column;
  }
  .hero-content-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .hero-content-left h2 {
    font-size: 14px;
    padding-top: 3em;
    margin-right: 1em;
  }
  .hero-content-left p {
    font-size: 12px;
    /* margin-right: 10em; */
  }
  .hero-content {
    width: 100%;
    border-left: none;
    flex-direction: row;
    border-top: 4px solid #1a1e67;
    margin-top: 4em;
  }
  /* .content-group .content {
    width: 33%;
  } */
  .hero-content .content {
    width: 100%;
    height: 30%;
  }
}

/*************************Footer Start*************************/
.footer {
  width: 100%;
  height: 70vh;
  color: #fff;
  background-color: #1a1e67;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0em;
}
.footer .footer-content {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo {
  width: 250px;
}
.footer ul {
  list-style: none;
}
.footer li {
  margin-bottom: 1em;
}
.footer a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
}
.contact i {
  font-size: 1.5em;
  color: #369c7e;
}
.footer .newsletter h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding-left: 10px;
  padding-bottom: 0.5em;
}
.footer .newsletter input {
  padding: 1em 3em;
  border: none;
  border-radius: 20px;
  width: 100%;
}
.newsletter {
  position: relative;
}
.footer .newsletter button {
  position: absolute;
  padding: 0em 1em;
  height: 44px;
  background-color: #369c7e;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  right: -40%;
  top: 48%;
}
.footer .icons a {
  margin-right: 0.5em;
  font-size: xx-large;
}
.footer .icons {
  margin-top: 2em;
}
.credit {
  width: 60%;
  position: relative;
  text-align: center;
}
.credit:before {
  content: " ";
  display: block;
  height: 1px;
  width: 50%;
  position: absolute;
  top: 50%;
  left: -16%;
  background: #fff;
}
.credit:after {
  content: " ";
  display: block;
  height: 1px;
  width: 50%;
  position: absolute;
  top: 50%;
  right: -16%;
  background: #fff;
}
@media screen and (max-width: 967px) {
  .footer {
    height: 120vh;
    text-align: center;
  }
  .left-area {
    width: 100%;
    margin-bottom: 3em;
  }
  .footer .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .newsletter button {
    padding: 0em 1em;
    top: 60%;
  }
  .footer a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
  }
  .credit:before {
    height: 0;
  }
  .credit:after {
    height: 0;
  }
  .footer .icons {
    text-align: center;
    margin-top: 0.5em;
  }
  .footer .newsletter h3 {
    margin-top: 4em;
    text-align: center;
    padding-top: 1em;
  }
  .footer .icons a {
    margin-right: 0em;
    font-size: 25px;
  }
  .footer li {
    margin-bottom: 0;
    text-align: center;
  }
}
@media screen and (max-width: 790px) {
  .footer .newsletter button {
    height: 38px;
    top: 63%;
  }
}
/*************************Footer End*************************/
/*************************2nd Page Start*************************/

.service {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service .service-content {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 4em;
}
.service-content .info-content {
  width: 40%;
  height: 70%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.service-content .swiper {
  width: 40%;
  height: 70%;
  border-radius: 20px;
  margin-left: 10em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}
.info-content {
  display: flex;
  flex-direction: column;
}
.info-content .info {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
}
.info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding-top: 1em;
  margin-bottom: 1em;
}
.info-content .profil {
  padding-top: 2em;
  padding-right: 2em;
}
.info-content .profil .ratings {
  margin: 0.5em 0;
}
.info-content .profil .ratings .uil {
  color: #f0ed51;
  font-size: 25px;
}
.informations {
  display: flex;
  flex-direction: column;
  height: 20%;
  padding: 2em 4em;
}
.informations span {
  font-weight: 500;
}
.informations i {
  font-size: 22px;
  font-weight: 800;
}
.buttons {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons a {
  width: 30%;
  height: 50%;
  border-radius: 20px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding-top: 0.5em;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 12px;
  margin-bottom: 10px;
  cursor: pointer;
}
@media screen and (max-width: 980px) {
  .service {
    height: 100vh;
    padding-top: 20px;
  }
  .service-content {
    flex-direction: column;
    height: 100%;
    padding-bottom: 4em;
  }
  .service-content .info-content {
    width: 100%;
    height: 50%;
    margin-bottom: 1em;
  }
  .buttons {
    width: 90%;
    height: 50px;
    margin-bottom: 2em;
  }
  .buttons a {
    font-size: 14px;
    padding-bottom: 5px;
  }
  .service-content .swiper {
    width: 100%;
    height: 50%;
    margin-left: 0em;
  }
}
/*************************services 2nd section*************************/
.skills {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills .skills-content {
  width: 85%;
  height: 60%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.skills .skills-content h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0.5em;
}
.skills-group {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.skills-group .skill {
  padding: 1em 1em;
}
.skills-group .skill i {
  color: #369c7e;
  padding-right: 5px;
}
.skills-group .skill span {
  font-weight: 700;
}
@media screen and (max-width: 900px) {
  .skills {
    height: 80vh;
  }

  .skills-content {
    height: 100%;
  }
  .skills-group {
    width: 100%;
  }
}
/**************************services end section***************************/
/**********************opinions section start here*********************/
.opinions {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
}

.opinions .opinion-content {
  width: 85%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.opinion-content .opinion-form {
  width: 50%;
  height: 80%;
  padding-top: 3em;
}

.opinion-form form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-left: 2px solid #1a1e67;
  border-radius: 2px;
}
.opinion-form form input {
  width: 38%;
  height: 5%;
  padding: 10px 0;
  border: 1px solid #369c7e;
  border-radius: 20px;
  padding-left: 1em;
  margin-left: 8px;
}
.opinion-form form textarea {
  width: 79%;
  height: 20%;
  padding: 10px 10px 0px 1em;
  border: 1px solid #369c7e;
  border-radius: 20px;
}
.opinion-form form .form-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form-footer span {
  font-size: 16px;
  font-weight: 500;
  padding-top: 0em;
  color: rgb(136, 131, 131);
}
.form-footer i {
  color: #f0ed51;
  font-size: 20px;
}
.form-footer button {
  width: 25%;
  height: 35%;
  color: #fff;
  font-size: 15px;
  background-color: #369c7e;
  border: none;
  border-radius: 20px;
  margin: auto;
  cursor: pointer;
}
.form-footer button:hover {
  background-color: #1a1e67;
}
.opinion-content .opinion-list {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.opinions-list h2 {
  font-size: 20px;
  font-weight: 600;
  padding: 20px 0 0 20px;
  margin-bottom: 20px;
}
.opinion-list .opinions-group {
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.opinions-group .opinion {
  width: 85%;
  height: 20%;
  display: flex;
  border-radius: 10px;
  padding: 0.2em 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  margin-left: 2em;
  margin-bottom: 0.8em;
}
.opinion .uil-user {
  width: 45px;
  height: 35px;
  border-radius: 50%;
  margin: 5px 5px 8px 8px;
  color: #fff;
  background-color: #1a1e67;
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
}
.opinion .opinion-info {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5px;
}
.opinion p {
  width: 60%;
  height: 20%;
  padding-top: 5px;
  padding-right: 30px;
  font-size: 12px;
  font-weight: 600;
}
.opinion .uil-star {
  color: #f0ed51;
  font-size: 18px;
}
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
@media screen and (max-width: 900px) {
  .opinions {
    height: 120vh;
  }
  .opinion-content {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .opinion-content .opinion-form {
    width: 90%;
    height: 50%;
    padding-top: 0em;
  }
  .opinion-form form {
    height: 60%;
    border-top: 2px solid #1a1e67;
    border-radius: 2px;
    border-left: none;
  }
  .opinion-form form input {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .opinion-form form textarea {
    height: 50%;
  }
  .opinion-form form .form-footer {
    width: 100%;
    height: 90px;
    padding-top: 20px;
  }
  .form-footer button {
    width: 50%;
    height: 40%;
    margin-top: 1em;
  }
}

/**********************opinions section end here*********************/

/**********************Maalem serach page start here*********************/

.maalames {
  width: 100%;
  height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.maalames .search-bar {
  width: 60%;
  height: 5%;
  background: #1a1e67;
  border-radius: 20px;
  margin: 2em 0;
  padding: 2em 1.5em;
}
.maalames .search-bar form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: auto;
}
.maalames .search-bar select {
  width: 40%;
  height: 3em;
  border: 1px solid #369c7e;
  border-radius: 20px;
  /* background-color: #fff; */
  margin-left: 1em;
  margin-bottom: 2em;
  padding-left: 8px;
}

.maalames .search-bar button {
  width: 15%;
  height: 3em;
  border: 1px solid #369c7e;
  border-radius: 20px;
  background-color: #369c7e;
  color: #fff;
  font-weight: 600;
  margin-left: 1em;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #057c59;
}

.maalames .banner {
  width: 90%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* .banner > * {
  flex: 5;
} */
.banner .maalam {
  width: 29%;
  height: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 5px 0 0px 30px;
  background-color: #fff;
}
.maalam .maalam-img {
  width: 100px;
  height: 60px;
  border-radius: 50%;
  background-color: #369c7e;
}
.maalam img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.maalam .maalam-name {
  width: 60%;
  padding: 0 10px;
}
.maalam .uil-star {
  color: #f0ed51;
  font-weight: 600;
  margin: 5px 0;
}
.maalam-name span {
  font-size: 12px;
}

.maalam .maalam-info {
  width: 50%;
  font-size: 12px;
  font-weight: 600;
  color: #1a1e67;
  display: flex;
  flex-direction: column;
}
.maalam .maalam-info span {
  margin: 5px 0;
  font-weight: 800;
}
.maalam a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #369c7e;
  width: 70%;
  height: 10%;
  border-radius: 10px;
  padding: 2px 4px;
  margin-top: 5px;
}
.pagination i {
  height: 38%;
  margin-top: 1em;
}
.pagination a {
  font-size: 18px;
  font-weight: 600;
  padding: 0 5px;
}
.pagination i {
  font-size: 25px;
}
@media screen and (max-width: 1283px) {
  .maalames {
    height: 170vh;
  }
  .banner .maalam {
    width: 40%;
  }
}
@media screen and (max-width: 999px) {
  .maalames {
    height: 300vh;
  }
  .search-bar {
    width: 80%;
    height: 2%;
  }
  .search-bar button {
    width: 20%;
  }
  .maalames .banner {
    width: 85%;
    height: 90%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 15px;
  }
  .banner .maalam {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 8px;
    height: 5%;
  }
  .maalam a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #369c7e;
    width: 75%;
    height: 4%;
    border-radius: 10px;
    padding: 2px 3px;
    margin-top: 2px;
  }
  .pagination a {
    height: 18%;
    padding-bottom: 20px;
  }
}
/**********************Projets page start here*********************/
.projets {
  width: 100%;
  height: 190vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projets .search-bar {
  width: 100%;
  height: 5%;
  background: #1a1e67;
  margin: 0em 0;
  padding: 2em 0em;
}
.projets .search-bar form {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: auto;
}
.projets .search-bar select {
  width: 45%;
  height: 3em;
  border-radius: 20px;
  margin-left: 1em;
  margin-bottom: 2em;
  padding-left: 8px;
}

.projets .search-bar button {
  width: 15%;
  height: 3em;
  border: 1px solid #369c7e;
  border-radius: 20px;
  background-color: #369c7e;
  color: #fff;
  font-weight: 600;
  margin-left: 1em;
  cursor: pointer;
}

.projets .search-bar button:hover {
  background-color: #057c59;
}

.projets-group {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projets-group .title {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
.projets-group .title h1 {
  color: #369c7e;
  text-decoration-line: underline;
  font-size: 30px;
  width: 50%;
  word-spacing: 0.3em;
}
.projets-group .title a {
  width: 15%;
  height: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background-color: #1a1e67;
  border-radius: 5px;
  padding: 8px 20px 10px 10px;
  text-align: center;
  cursor: pointer;
}
.projets-group .title a:hover {
  background-color: #057c59;
}
.projets-group-list {
  width: 75%;
  height: 85%;
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.projets-group-list .projet {
  position: relative;
  width: 16%;
  height: 25%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 8px 18px;
  padding: 1em 3em;
}
.projet h3 {
  margin: 10px 0px;
  font-weight: 600;
}
.projet span {
  color: #1a1e67;
  font-weight: 600;
  font-size: 13px;
  margin-top: 12px;
}
.projet a {
  position: absolute;
  width: 50%;
  height: 11%;
  background-color: #369c7e;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
  left: 20%;
  bottom: 20%;
}
.projet a:hover {
  background-color: #1a4492;
}
@media screen and (max-width: 1015px) {
  /* .projets {
    height: 200vh;
  } */
  .projets-group-list .projet {
    width: 30%;
    height: 20%;
  }
  .projets-group .title a {
    width: 20%;
    font-size: 16px;
  }
}
@media screen and (max-width: 880px) {
  .projets-group-list .projet {
    width: 80%;
    height: 20%;
  }
  .projet a {
    width: 45%;
    height: 15%;
  }
  .projets-group .title a {
    width: 26%;
    font-size: 12px;
  }
  .projet span {
    margin-bottom: 10px;
  }
  .projets .search-bar button {
    width: 24%;
  }
}
